

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    // background-color: #344D59;
    color: #344D59;
}

.page { 
    width: 600px;
    margin: auto;
}


.first-container {
    background-color: #7A90A4;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 5px;
}

.search-container {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7A90A4;
    border-radius: 25px;
}

.response-container {
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B8CBD0;
    color:#344D59;
    margin-top: 5px;
    border-radius: 25px;
}

.search-btn {
    background-color: #B8CBD0;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    border:2px solid #344D59;
}

.search-txt {
    color: #344D59;
}

#food-item {
    border-radius: 25px;
    height: 25px;
    padding: 0 5px;
}

#quantity {
    border-radius: 25px;
    height: 25px;
    padding: 0 5px;
}
