.client {
    display: flex;
    flex-direction: column;
    
}

.label-container {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.label-container > label {
    background-color: #7A90A4;
    color: black;
    margin: 0px 40px;
    padding: 15px;
    border-radius: 25px;
}

.conso {
    background-color: #7A90A4;
    color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}
