.retour-btn {
    background-color: #344D59;
    color:#B8CBD0;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.retour-btn:hover {
    border:2px solid #B8CBD0;
}

.retour-txt {
    color:#B8CBD0
}