.inscription{
    h1{
        margin-top:70px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $black;
        justify-content: center;
        align-content: center;
    }
}